body * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  /* background-color: rgb(156, 154, 154); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-weight: lighter;
  text-align: center;  
}

.pantalla {
  background-image: url("./img/fondo-chat.jpg");
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  
  /* overflow-y: scroll ; */
  border: 8px solid rgb(75, 74, 74);
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(148, 146, 146) ;
}

#messages{
  background-color: blue;
  width: 95%;
  height: 90%;

}

.infoEnviar {
  margin-top: 10px;
  /* background-color: red; */
  width: 95%;
  height: 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}



#texto {
  background-color: rgb(167, 197, 223);
  width: 85%;
  border: solid rgb(33, 104, 161) 2px;
  border-radius: 15px;

  padding-left: 5px;
  overflow: hidden;
  outline: none;
  color:rgb(26, 47, 144);
}

.botonEnviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 15%;
  height: 80%;
  border-radius: 50%;
  background-color: rgb(167, 197, 223);
  border-color: rgb(33, 104, 161);
  outline: none;

  font-size: 15px;
  color: rgb(26, 47, 144);

}

.botonEnviar:hover {
  cursor: pointer;
} 
