body * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  /* background-color: rgb(156, 154, 154); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-weight: lighter;
  text-align: center;  
}

.pantalla {
  background-image: url("./img/fondo-chat.jpg");
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 5px; */
  padding-bottom: 10px;
  
  border: 8px solid rgb(75, 74, 74);
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgb(88, 88, 88) ;
}


.cabecera {
  padding: -10px -5px;
  height: 40px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  margin-bottom: 5px;
  border-radius: 25px 25px 0px 0px;
}

#messages{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  background-color: transparent;
  width: 95%;
  height: 90%;
  border-radius: 2px;
  overflow-y: scroll ;
}

#messages::-webkit-scrollbar {
  color: transparent;
}

.message{
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background:white;
  color:rgb(26, 47, 144);

}


.infoEnviar {
  margin-top: 10px;
  width: 95%;
  height: 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.form {  
  width: 100%;
  height: 100%;
}


#text {
  resize: none;
  background-color: rgb(243, 243, 243);
  width: 85%;
  border: solid rgb(26, 47, 144) 2px;
  border-radius: 15px;
  
  padding-left: 5px;
  overflow: hidden;
  outline: none;
  color:rgb(26, 47, 144);
}

.botonEnviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 15%;
  height: 80%;
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  border-color: rgb(26, 47, 144);
  outline: none;

  font-size: 15px;
  color: rgb(26, 47, 144);
}


.botonEnviar:hover {
  cursor: pointer;
} 


.nickBox {
  margin-top: 20px;
}

#nickname {
  border-radius: 20px;
  width: 150px;
  height: 20px;
  outline: none;
  box-shadow: 0px 0px 5px rgb(131, 131, 131) ;
  text-align: center;
}